<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AadInstance" value="https://login.microsoftonline.com/[AD_TenantName]"/>
    <add key="ClientID" value="[InventoryDaemon_ClientID]"/>
    <add key="ClientSecret" value="[InventoryDaemon_ClientSecret]"/>
    <add key="InventoryService" value="https://[AD_TenantName]/InventoryService"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>